html {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

body {    
    margin: 0 !important;
    padding: 0 !important;
    max-width: 100% !important;
    overflow-x: hidden !important;
}


.main {
	width: 600px !important;
	background-color: #f0f0f0;
}

#navbar {
  width: 600px;
  background-color: #555;
  overflow: hidden;
  position: fixed;
}

#navbar a {
  float: left;
  padding: 0px;
  color: white;
  font-size: 14px;
  padding: 27px 0;
  width: 75px;
  text-align: center;
}

.content {
	background-color: #f0f0f0;
    padding: 100px 20px 20px 20px;
}


h1 {
    margin: 0;
    display: inline-block;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: right;
}

footer {
    background-color: #555;
    text-align: center;
    color: white;
}





